#add-button{
    position: absolute;
    right: 14px;
    top: 12px;
    box-shadow:0px 0px 6px 3px #8E44AD;
    background-color: #8E44AD;
    color: #CCCCFF;
}


#input-style{
    height: 4rem;
    background-color: #CCCCFF;
    border: none;
    color: #8E44AD;
    font-weight: 800;
    font-size: 1.5rem;
}