header{
    height:50px;
}
.list{
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin:0px;
    background-color: rgb(15, 62, 14);
    height: 100%;
}

li{
    display: inline;
    color:white;
}